@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

:root {
  --primary-color: #f74c3c;
  --secondary-color: #f5f5f5;
  --black: #222222;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav a,
h1,
h2,
h3 {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 0.9rem;
}

nav a {
    color: rgb(197, 197, 197);
}

nav a:hover {
    color: var(--white);
}

.container {
  width: 1200px;
}

main > section:first-of-type {
    background-image: url("../images/hero-image.jpg");
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;

    h1 {
        font-size: 4.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    span {
        font-weight: 700; /* = bold */
    }

    a {
        background-color: var(--primary-color);
        color: var(--white);
        padding: 0.8rem 1.1rem;
        border-radius: 4px;
        font-size: 2rem;

        &:hover {
            background-color: #dc4638;
        }
    }

}



/* Responsive Styling */

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
